# App
APP_ENV=development
APP_PORT=8080

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sociomile
DB_USER=root
DB_PASSWORD=

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# Migration
AUTO_MIGRATE=true
JWT_SECRET=your-super-secret-jwt-key-change-in-production